*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

.login-wrapper{
  display:flex;
  height:100vh;
  background:#f4f6fb;
}

/* LEFT */

.login-left{
  flex:1;
  background:linear-gradient(135deg,#4facfe,#00f2fe);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:40px;
}

.logo{
  width:160px;
  margin-bottom:20px;
}

.hero{
  width:100%;
  max-width:650px;
}

.login-left h2{
  margin-top:10px;
}

.login-left p{
  max-width:400px;
  opacity:.9;
}

/* RIGHT */

.login-box{
  flex:1;
  background:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:60px;
  max-width:450px;
  margin:auto;
  border-radius:18px;
  box-shadow:0 10px 40px rgba(0,0,0,.08);
}

.login-box h1{
  margin-bottom:20px;
}

/* SOCIAL */

.social{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  padding:13px;
  border-radius:10px;
  border:1px solid #ddd;
  background:white;
  cursor:pointer;
  font-weight:600;
  transition:.25s;
}

.social:hover{
  transform:translateY(-2px);
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.social-row{
  display:flex;
  gap:12px;
  margin:15px 0;
}

.square{
  flex:1;
  padding:13px;
  border-radius:12px;
  border:1px solid #e5e7eb;
  background:white;
  cursor:pointer;
  font-size:18px;
  transition:.25s;
  display:flex;
  align-items:center;
  justify-content:center;
}

.square:hover{
  box-shadow:0 8px 20px rgba(0,0,0,.12);
}


/* DIVIDER */

.divider{
  text-align:center;
  margin:20px 0;
  color:#888;
  position:relative;
}

.divider::before,
.divider::after{
  content:"";
  position:absolute;
  top:50%;
  width:40%;
  height:1px;
  background:#ddd;
}

.divider::before{ left:0; }
.divider::after{ right:0; }

/* INPUT */

.input-group{
  position:relative;
  margin-bottom:15px;
}

.input-group input{
  width:100%;
  padding:14px 14px 14px 40px;
  border-radius:10px;
  border:1px solid #ddd;
  outline:none;
  transition:.2s;
}

.input-group input:focus{
  border-color:#4facfe;
  box-shadow:0 0 0 3px rgba(79,172,254,.2);
}

.icon{
  position:absolute;
  top:50%;
  left:12px;
  transform:translateY(-50%);
  color:#888;
}

/* OTHER */

.forgot{
  color:#4facfe;
  font-size:14px;
  cursor:pointer;
  margin-bottom:10px;
}

.login-btn{
  padding:14px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#4facfe,#00f2fe);
  color:white;
  font-weight:bold;
  cursor:pointer;
  margin-top:10px;
  transition:.3s;
}

.login-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.signup{
  margin-top:15px;
  text-align:center;
}

.signup span{
  color:#4facfe;
  font-weight:bold;
  cursor:pointer;
}

/* MOBILE */

@media(max-width:900px){
  .login-left{
    display:none;
  }
}
.fb{
  color:#1877F2;
}

.fb:hover{
  background:#1877F2;
  color:white;
  transform:translateY(-3px);
}

.apple{
  color:#111;
}

.apple:hover{
  background:#111;
  color:white;
  transform:translateY(-3px);
}

.ms{
  color:#f25022;
}

.ms:hover{
  background:linear-gradient(
    45deg,
    #f25022,
    #7fba00,
    #00a4ef,
    #ffb900
  );
  color:white;
  transform:translateY(-3px);
}
