* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #21242c;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
